body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@-ms-viewport{
  width: device-width;
}
.ul_top li {
  display: inline;
  margin: 5px;
  padding: 10px;
  color: white;
}

.sea-label {
  margin: 2px;
  padding: 5px;
}

.nav {
  margin-left: o auto;
  margin-right: 0 auto;
  gap: 1rem;
  display: flex;
  justify-content:flex-start;
  text-decoration:null;
  width: 100pc;
  margin-bottom: 20px;
  
}
.table_center {
  padding: auto;
  margin-left: 50px;
  width: 90%;
  align-items: center;
  align-content: center;
}
.trTd {
  padding: 0 auto;
  text-align:center;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  align-items: center;
  align-content: center;
}
.nav li.active {
  background-color: gray;
}

.nav li:hover {
  background-color: gray;
}

.btn_sty {
  padding: 5px;
  align-items: center;
}

.createBtn {
  display: inline-block;
}

.createBtn > .button:not(:last-child) {
  padding: 4px;
}

.rowIn {
  display: inline;
  padding: 3px;
  margin-right: 10rem;
  margin-top: 42rem;
}
.rowIn1 {
  display: inline;
  margin: 70px; 
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
}
.inputToLeft {
  margin-left: 30px;
}

.inputToLeftF {
  margin-left: 24rem;
}
.tableH {
  width: 80%;
  margin: auto;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align:justify;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
}

.image_sty {
  width: 80px;
  height: 60px;
}
.img_sty {
    width: 200px;
    height: 200px;
    padding-top: 10px ;
    padding-bottom: 10px; 
}
.textcent {
  text-align: center;

}
label {
  font-weight: bold;
}
.left_div1 {
  float: left;
}
.inputForm {
  width: 75pc;
  margin-left: 10rem;
  margin-right: 10rem;
  align-items: center;
  justify-content: center; 
}
.trCont {
  padding: 0 auto;
}
.btnP {
  padding-top: 20px;
}
.btnPa {
  padding-bottom: 20px;
  padding-top: 20px;
}
.Nlink {
  text-decoration: none;
  color: white;
}
.column {
  margin-left: 10px;
  padding: 20px;
  width: 47.00%;
  height: 100pc; 
}
.colAdm {
  padding: 0 auto;
  width: 80.00%;
  height: 90pc;
  margin-left: 0 auto;
  margin-right: 50px;
  align-items: center;
  
}
.centerG {
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 16px;
  
}

.clickable {
  color: #033fb4;
}

.clickable:hover {
  color: #0056b3;
  opacity: 0.7;
}
.icon {
  height: 40px;
  width: 80px;
}
thead {
  vertical-align: middle;
  border-color: inherit;
}
tbody {
  vertical-align: middle;
  border-color: inherit;
}
a:link {
    text-decoration: none;
}
