body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ul_top li {
  display: inline;
  margin: 5px;
  padding: 10px;
  color: white;

}

.sea-label {
  margin: 1rem;
}

.nav {
  margin: auto;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;


}

.nav li.active {
  background-color: gray;
}

.nav li:hover {
  background-color: gray;
}

.btn_sty {
  padding: 3px;
  align-items: center;
}

.createBtn {
  display: inline-block;

}

.createBtn>.button:not(:last-child) {
  padding: 4px;
}

.rowIn {
  display: inline;
  padding: 3px;
  margin-right: 10rem;
  margin-top: 42rem;
}

.inputToLeft {
  margin-left: 30px;
}

.inputToLeftF {
  margin-left: 24rem;
}
.tableH {

  margin: auto;
  padding-right: 55px;
  gap: 5px
}

th,
td {
  padding-left: 10px;
  font-size: small;
}

thead {
  background-color: antiquewhite;
}